<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprimir PDF</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
    </nav>
      <h1 class="text-center mb-4">Comprimir PDF</h1>
      <form action="/compress" method="post" enctype="multipart/form-data">
          <div class="mb-3">
              <label for="inputFile" class="form-label">Selecionar arquivo PDF:</label>
              <input type="file" class="form-control" id="inputFile" name="inputFile" accept="application/pdf" required>
          </div>

          <div class="mb-3">
              <label for="quality" class="form-label">Selecionar qualidade:</label>
              <select class="form-select" id="quality" name="quality">
                  <option value="screen">Maior compressão, menor qualidade (ideal para visualização na tela)</option>
                  <option value="ebook">Compressão moderada, qualidade razoável</option>
                  <option value="printer">Melhor qualidade, arquivo maior</option>
                  <option value="prepress">Qualidade máxima, menos compressão</option>
                  <option value="default" selected>Um equilíbrio entre tamanho e qualidade</option>
              </select>
          </div>

          <div class="text-start">
            <button type="submit" class="btn btn-primary">Comprimir PDF</button>
          </div>
      </form>
  </div>

  <br>
  <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a class="nav-link px-2 text-muted"></a></li>
        </ul>
        <p class="text-center text-muted">© {{ .Year }} Leandro Alves da Silva</p>
      </footer>
  </div>

</body>

</html>